{% extends 'base.html' %}


{% block title %}
Teacher Form
{% endblock %}


{% block content %}


<div class="container-fluid">


    <div class="card shadow">


        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Add Teacher</h4>
        </div>


        <div class="card-body">


            <form method="post" enctype="multipart/form-data">


                {% csrf_token %}


                <div class="row">


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Teacher ID</label>
                        {{ form.teacher_id }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Teacher Name</label>
                        {{ form.name }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Mobile</label>
                        {{ form.mobile }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Date Of Joining</label>
                        {{ form.date_of_joining }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Photo</label>
                        {{ form.photo }}
                    </div>


                    <div class="col-md-12 mb-3">
                        <label class="form-label">Address</label>
                        {{ form.address }}
                    </div>


                </div>


                <hr>


                <button type="submit" class="btn btn-success">
                    Save Teacher
                </button>


                <a href="{% url 'teacher_list' %}" class="btn btn-secondary">
                    Cancel
                </a>


            </form>


        </div>


    </div>


</div>


{% endblock %} 