{% extends 'base.html' %}


{% block title %}
Student Form
{% endblock %}


{% block content %}


<div class="container mt-4">


    <div class="card shadow">


        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Add Student</h4>
        </div>


        <div class="card-body">


            <form method="post" enctype="multipart/form-data">


                {% csrf_token %}


                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Student Name</label>
                        {{ form.name }}
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Roll Number</label>
                        {{ form.roll_no }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Enrollment Number</label>
                        {{ form.enrollment_no }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Mobile</label>
                        {{ form.mobile }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Classroom</label>
                        {{ form.classroom }}
                    </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">Photo</label>
                        {{ form.photo }}
                    </div>


                    <div class="col-md-12 mb-3">
                        <label class="form-label">Address</label>
                        {{ form.address }}
                    </div>


                </div>


                <hr>


                <button type="submit" class="btn btn-success">
                    Save Student
                </button>


                <a href="{% url 'student_list' %}" class="btn btn-secondary">
                    Cancel
                </a>


            </form>


        </div>


    </div>


</div>


{% endblock %}