{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card">

        <div class="card-body">

            <h4>
                Delete Hall Ticket?
            </h4>

            <p>
                {{ ticket.hall_ticket_number }}
            </p>

            <form method="POST">

                {% csrf_token %}

                <button class="btn btn-danger">
                    Delete
                </button>

                <a href="{% url 'hallticket_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}