{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<h3>My Applications</h3>

<table class="table table-bordered">

<tr>
    <th>Exam</th>
    <th>Status</th>
    <th>Remarks</th>
</tr>

{% for app in applications %}
<tr>

    <td>{{ app.examination.exam_name }}</td>

    <td>
        {% if app.status == 'Approved' %}
            <span class="badge bg-success">
                Approved
            </span>

        {% elif app.status == 'Rejected' %}
            <span class="badge bg-danger">
                Rejected
            </span>

        {% else %}
            <span class="badge bg-warning">
                Pending
            </span>
        {% endif %}
    </td>

    <td>{{ app.remarks }}</td>

</tr>
{% endfor %}

</table>

</div>

{% endblock %}